<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>COVID19-India</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
<script type="text/javascript">
	if ('serviceWorker' in navigator) {
  navigator.serviceWorker
    .register("../OneSignalSDKWorker.js", {scope: '/'})
    .then(registration => {
      console.log("SDKWorker running");
    })
    .catch(err => {
       console.log(err);
    })
    }

    	if ('serviceWorker' in navigator) {
  navigator.serviceWorker
    .register("../OneSignalSDKUpdaterWorker.js", {scope: '/'})
    .then(registration => {
      console.log("ServiceWorker running");
    })
    .catch(err => {
       console.log(err);
    })
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "28acf68f-131f-48ab-ace5-afb6c68a590d",
    });
  });
</script>
 <!-- <script src="{{ url_for('static', filename='js/OneSignalSDKWorker.js') }}"></script>
  <script src="{{ url_for('static', filename='js/OneSignalSDKUpdaterWorker.js') }}"></script>
-->
<script>
function myFunction(){
  var d = new Date();
  var h = d.getHours();
  console.log(h);
  if(h <= 5 || h >=18){
	console.log("Night");
    var el = document.getElementsByTagName("nav")[0];
       el.classList.replace("bg-white","bg-dark");
var ft = document.getElementsByTagName("footer")[0];
       ft.classList.replace("bg-white","bg-dark");
    var nv =document.getElementsByClassName("text-gray-800")[0];
       nv.classList.replace("text-gray-800","text-gray-300");
             document.getElementsByClassName("container-fluid")[0].style.backgroundColor = "#0e0e0e";

var ar = document.getElementsByClassName("card");
for (let i=0; i<ar.length; i++){
  ar[i].style.backgroundColor = "#2f2c2c";
  }

  var ch = document.getElementsByClassName("card-header");
for (let i=0; i<ch.length; i++){
  ch[i].style.backgroundColor = "#1c1c1d";
  }

  }

  else{
  console.log("Day");
  }
}

</script>
  <style>
    .my-custom-scrollbar {
      position: relative;
      width: 800px;
      height: 400px;
      overflow: auto;
    }
  </style>


<style>
#myth_model
{color: #4d4d4d;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 14px;
font-style: normal;
outline: 0 none;
-webkit-box-sizing: border-box;
position: fixed;
width: 80%;
max-width: 100%;
max-height: 92%;
overflow-y: auto !important;
overflow-x: hidden;
margin: auto;
left: 0px;
right: 0px;
z-index: 999999;
top: 0px;
bottom: 0px;
background: #fff;
padding: 20px;
height: 90%;
display: none;}
.overlay{
color: #4d4d4d;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 14px;
font-style: normal;
outline: 0 none;
-webkit-box-sizing: border-box;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
position: fixed;
left: 0;
top: 0;
background-color: rgba(0,0,0,.7);
transition: all .3s ease 0s;
z-index: 9999;
display: block;}
</style>

<script>
function openfunc(){
document.getElementById("overl").style.display = "block";
document.getElementById("myth_model").style.display = "block";
}

function closefunc(){
document.getElementById("overl").style.display = "none";
document.getElementById("myth_model").style.display = "none";
}
</script>
</head>

<body id="page-top" onload="myFunction()">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!--Overlay -->
      <div class="overlay" id="overl" style="display: none;"></div>
<div id="myth_model" class="card text-gray-800"  style="display: none;"><button onclick=closefunc() id="myBtn" type="button" class="btn btn-danger"><i class="fas fa-times-circle fa-1x text-gray-1000"></i></button>
    <h2>Myth-Busters <span>These are the facts.</span></h2>
    <ul class="myth_list">
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_1.png" alt=""></div>
            <div class="myth_text">Cold weather and snow CANNOT kill the CoronaVirus .</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_2.png" alt=""></div>
            <div class="myth_text">Hand dryers are NOT effective in killing the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_3.png" alt=""></div>
            <div class="myth_text">There is NO evidence that regularly rinsing the nose with saline has protected people from infection with the coronavirus. </div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_4.png" alt=""></div>
            <div class="myth_text">The coronavirus CAN be transmitted in areas with hot and humid climates.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_5.png" alt=""></div>
            <div class="myth_text">Ultraviolet light SHOULD NOT be used for sterilization and can cause skin irritation.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_6.png" alt=""></div>
            <div class="myth_text">Garlic is healthy but there is NO evidence from the current outbreak that eating garlic has protected people from the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_7.png" alt=""></div>
            <div class="myth_text">The coronavirus CANNOT be transmitted through mosquito bites.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_8.png" alt=""></div>
            <div class="myth_text">Thermal scanners CAN detect if people have a fever but CANNOT detect whether or not someone has the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_9.png" alt=""></div>
            <div class="myth_text">Antibiotics DO NOT work against viruses, antibiotics only work against bacteria.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_10.png" alt=""></div>
            <div class="myth_text">There is NO evidence that companion animals/pets such as dogs or cats can transmit the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_11.png" alt=""></div>
            <div class="myth_text">Spraying alcohol or chlorine all over your body WILL NOT kill viruses that have already entered your body.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_13.png" alt=""></div>
            <div class="myth_text">To date, there is NO specific medicine recommended to prevent or treat the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_14.png" alt=""></div>
            <div class="myth_text">Taking a hot bath DOES NOT prevent the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_15.png" alt=""></div>
            <div class="myth_text">Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenzae type b (Hib) vaccine, DO NOT provide protection against the coronavirus.</div>
        </li>
    </ul>
    <div class="dis_note"><i></i> Note : Content is Sourced from <a href="https://www.who.int" target="_blank" class="ext" title="World Health Organization  (External Site that opens in a new window)">World Health Organization<span class="ext"><span class="element-invisible"> </span></span></a> </div>
</div>
      <!-- end of overlay -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar topbar-->
        <nav class="navbar navbar-expand navbar-light bg-white fixed-top mb-4 static-top shadow">
          <a class="navbar-brand" href="#"><h1 class="font-weight-bold h3 mb-0 text-gray-800">Covid-19 India Updates</h1></a>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" style="padding-top: 68px;">

          <div class="row">

            <!-- Corona info Card  -->
            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2" id="kn">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">To Know more about Covid-19</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a target="blank" href="https://dot.gov.in/sites/default/files/Revised_Corona_ad_Eng.pdf?download=1">Dos and Donts for Novel Coronavirus - COVID-19</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-100"></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-100"><button type="button" class="btn btn-secondary  font-weight-bold" onclick=openfunc() style="color:#2f2c2c">Facts You Need To Know</button></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-info-circle fa-2x text-gray-1000"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% block content %}
            <!-- Latest update Card -->
            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1"> Latest Update @ {{ date }}</div>
                      <div class="row">
                      <div class="col-8 h6 mb-0 font-weight-bold text-gray-800">Cases Identified</div>
                      <div class="col-4 h6 mb-0 font-weight-bold text-gray-800">{{ cases }}</div>
                      </div>
                      <div class="row">
                      <div class="col-8 h6 mb-0 font-weight-bold text-gray-800">Cases Cured</div>
                      <div class="col-4 h6 mb-0 font-weight-bold text-gray-800">{{ cured }}</div>
                      </div>
                      <div class="row">
                      <div class="col-8 h6 mb-0 font-weight-bold text-gray-800">Cases Deceased</div>
                      <div class="col-4 h6 mb-0 font-weight-bold text-gray-800">{{ death }}</div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa fa-chart-bar fa-2x text-gray-1000"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}
          </div>

          <div class="row">
            <div class="container-fluid col-xl-12 col-md-12" style=" overflow: auto; height: 400px;" >
              <div class="row">
                <!-- Basic Card Example -->
                {% block card %}
                {% for i in log[1:] %}
                <div class="col-xl-3 col-md-4">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h7 class="m-0 font-weight-bold text-primary">Updated @ {{ i["time"] }} </h7>
                    </div>
                    <div class="card-body p-0">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Cases Identified</th>
                            <td>{{ i["cases"] | int }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Cases Cured</th>
                            <td>{{ i["cured"] | int }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Cases Deceased</th>
                            <td>{{ i["death"] | int }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><b>Copyright &copy; Start Bootstrap 2019</b></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>

</html>
